
/* INITIAL ***********************************************/
* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  /* border: cadetblue solid 2px; */
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #26272B;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* position: relative; */
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* INITIAL ***********************************************/










/* MODAL *************************************************/
  /* #modal-bg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
  }
  #modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 800px;
    height: 90vh;
    background-color: rgb(40, 40, 40);
    border-radius: 25px;
  }
  #modal #modal-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
    background-color: rgb(70, 70, 70);
    border-width: 0;
    font-size: 40px;
    margin: 0;
  }
  #modal #modal-close-btn:active{
    background-color: rgb(90, 90, 90);
  } */
/* MODAL *************************************************/









/* HEADER ************************************************/
header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  /* border: solid 3px gray; */
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.logo img{
  padding: 0 30px;
  height: 100px;
  width: auto;
}
.logo p{
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
}
.nav{
  display: flex;
  align-items: center;
  padding-right: 8vw;
}
.nav a{
  padding: 0 1.5vw;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 7px;
  text-decoration-color: transparent;
  cursor: pointer;
}
.nav .selected{
  text-decoration-color: #8D85F1;
  transition: text-decoration-color 0.5s;
}

/* HEADER ************************************************/









/* PAGE 1 ************************************************/
section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* PAGE 1 ************************************************/









/* PAGE 1 ************************************************/
#page1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#page1 .div-central{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-size: 50px; */
  font-size: 35px;
}
#page1 .div-central img{
  height: 300px;
  width: auto;
  padding: 180px 0 0 11%;
  /* border: solid 3px yellow; */
}
#page1 .div-central .p1{
  color: #8D85F1;
  padding: 30px 0;
}
#page1 .div-central .p2{
  color: #D3AE76;
}
/* PAGE 1 ************************************************/









/* PAGE 2 ************************************************/
#page2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#page2 .div-central{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
#page2 .div-central img{
  height: 300px;
  width: auto;
  padding: 11% 0 0 0;
}
#page2 .div-central p{
  color: #ccc;
  text-align: center;
  padding-top: 30px;
}
/* PAGE 2 ************************************************/









/* PAGE 3 ************************************************/
#page3{
  flex-direction: column;
}
#page3 img{
  cursor: pointer;
  width: 300px;
  margin-top: 30px;
  border-radius: 6px;
  border: solid rgba(0,0,0,0) 7px;
}
#page3 img:hover{
  border: solid crimson 7px;
}
/* PAGE 3 ************************************************/









/* PAGE 4 ************************************************/

/* PAGE 4 ************************************************/









/* PAGE 5 ************************************************/

/* PAGE 5 ************************************************/










/* body{
  background-image: url("../images/background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: oswald;
}
a{
  // text-decoration: none;
  color: rgb(255, 200, 98);
}  
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section1 img{
  width: 300px;
  height: auto;
  border-radius: 50%;
}
#section1 h1{
  font-family: oswald;
  font-size: 50px;
}
.icons{
  width: 50px;
  height: auto;
}
h2 {
  // border: solid 2px red;
  display: flex;
  justify-content: center;
  margin: 0;
}
p{
  max-width: 600px;
  text-align: center;
}
hr{
  max-width: 400px;
}
.hr{
  padding: 50px 0;
} */