
/*
  TODO O CSS SOMENTE SERÁ APLICADO
  AO ELEMENTO #injection-div
*/



:root {
  --gridColor: rgb(200, 200, 200);
  --gridWidth: 10px;
}

/* Formatacao do div de injecao */
#injection-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Formatacao do titulo */
#injection-div .playerX{
  color: rgb(50, 200, 50);
}
#injection-div .playerO{
  color: rgb(178, 95, 255);
}
#injection-div  p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px;
   color: white;
   margin-bottom: 80px;
 }
#injection-div span {
  font-size: 80px;
  font-weight: 900;
}


/* Formatacao da matrix */
#injection-div #matrix {
  display: flex;
}
#injection-div .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 500%;
  font-weight: 900;
}
#injection-div .cell:hover{
  background-color: #333;
}


/* Linhas do # */
#injection-div #cell11, #injection-div #cell21{
  border-right:  solid var(--gridColor) var(--gridWidth);
  border-bottom: solid var(--gridColor) var(--gridWidth);  
}
#injection-div #cell31{
  border-right:  solid var(--gridColor) var(--gridWidth);
}
#injection-div #cell12, #injection-div #cell22{
  border-bottom: solid var(--gridColor) var(--gridWidth);  
}
#injection-div #cell13, #injection-div #cell23{
  border-left:   solid var(--gridColor) var(--gridWidth);
  border-bottom: solid var(--gridColor) var(--gridWidth);  
}
#injection-div #cell33{
  border-left:   solid var(--gridColor) var(--gridWidth);
}


/* Botoes */
#injection-div button {
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 900;
  background-color: crimson;
  color: white;
  margin: 70px 40px;
}
#injection-div button:active {
  background-color: rgb(253, 77, 112);
}


/* Logica da linha de vitoria */
#winner-line{
  position: absolute;
  border-top: solid crimson 7px;
  /* width: 0px; */
}
.winL1{
  width: 470px;
  transform: translateY(-170px);
}
.winL2{
  width: 470px;
  transform: translateY(-10px);
}
.winL3{
  width: 470px;
  transform: translateY(150px);
}
.winC1{
  width: 470px;
  transform: rotate(90deg) translateY(160px);
}
.winC2{
  width: 470px;
  transform: rotate(90deg) translateY(0px);
}
.winC3{
  width: 470px;
  transform: rotate(90deg) translateY(-160px);
}
.winD1{
  width: 650px;
  transform: rotate(45deg) translateY(-10px);;
}
.winD2{
  width: 650px;
  transform: rotate(-45deg) translateY(-5px);;
}