@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Krona+One&family=Quantico:wght@700&family=Russo+One&family=Teko:wght@500&family=Ubuntu&display=swap');

:root {
  --main: #8D85F1;
  --sec: #5cdeff;
  --gray: #141414;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.master-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  background: url(../Images/background.jpg) no-repeat center fixed;
  background-size: cover;
  color: white;
}