header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 0 5%;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* header .logo img {
  padding: 0 30px;
  height: 100px;
  width: auto;
} */

header .logo p {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
}

header .nav {
  display: flex;
  align-items: center;
  /* border: solid red 4px; */
}

header .nav button {
  border: none;
  background: none;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 7px;
  text-decoration-color: transparent;
  cursor: pointer;
  color: white;
  padding: 0 1vw;
}

header .nav .selected {
  text-decoration-color: var(--main);
  transition: text-decoration-color 0.5s;
}