.main-menu {
  position:fixed;
  z-index: 10;
  display: flex;
  align-items: stretch;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  visibility:hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.main-menu .close-shaded {
  flex-grow: 1;
}

.main-menu nav {
  position:relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  background-color: var(--azul);
}

.main-menu nav .close-x {
  position:absolute;
  right: 20px;
  top: 0px;
  color: white;
  font-size: 50px;
  border: none;
  padding: 0 20px;
  margin:0;
  /* border: solid 1px red; */
}

.main-menu nav a {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-top: solid 1px var(--azulClaro);
}

.main-menu nav a.last-item {
  border-bottom: solid 1px var(--azulClaro);
}

.main-menu nav a img {
  height: 40px;
  margin: 0 20px;
}

.main-menu nav h4 {
  color: white;
  margin: 5vh 0 2vh 40px;
}

.main-menu nav p {
  color: white;
}