
/* SEÇÃO 1 */


.landing-page h1 {
  padding-top: 15vh;
  font-family: var(--logo);  
  font-style: italic;
  font-size: 70px;
  color:white;
}

.landing-page h2 {
  margin-top: -15px;
  font-family: var(--title);
  font-size: 35px;
  color:white;
}

.sec1 {
  position:relative;
  z-index: 2;
  text-align: center;
  background-image: url("../images/main-bg.jpg");
  background-color: #0078C9;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  width: 800px;
  display: flex;
  // border: 1px solid black;
  margin: 50px auto;
  align-items: center;
}

.foto-perfil{
  height: 250px;
  width:auto;
  border-radius: 50%;
}

.card p {
  color: white;
  font-size: 25px;
  margin-left: 50px;
}
.p2{
  color: black;
  font-size: 35px;
}




/* ============================================================================================= */
/* SEÇÃO 2 */

.sec2 {
  width: 900px;
  display:flex;
  justify-content: space-between;
}

.sec2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  text-align: center;
}

.sec2 > div > h4 {
  margin-top: 30px;
}

.sec2 > div > p {
  margin-top: 5vh;
}

.sec2 > div.R > h4 {
  margin-bottom: 5vh;
}

.sec2 .grid-row {
  display: flex;
  justify-content: center;
  width:100%;  
}

.sec2 .grid-el {
  border: solid 4px var(--azul);
  border-radius: 15px;
  width:33.33%;
  padding-top: 25%;
  margin: 3%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.sec2 .grid-el:hover {
  background-color: var(--azulClaro);
}


.sec2 .cana   {background-image: url("../images/main-sec2-cana.svg");}
.sec2 .milho  {background-image: url("../images/main-sec2-milho.svg");}
.sec2 .biogas {background-image: url("../images/main-sec2-biogas.svg");}

.sec2 .oleos     {background-image: url("../images/main-sec2-oleos.svg");}
.sec2 .agua      {background-image: url("../images/main-sec2-agua.svg");}
.sec2 .efluentes {background-image: url("../images/main-sec2-efluentes.svg");}

.sec2 .cerveja    {background-image: url("../images/main-sec2-cerveja.svg");}
.sec2 .sucos      {background-image: url("../images/main-sec2-sucos.svg");}
.sec2 .laticinios {background-image: url("../images/main-sec2-laticinios.svg");}


/* ============================================================================================= */
/* SEÇÃO 3 */

.sec3 {
  width: 900px;
  display:flex;
  justify-content: space-between;
}

.sec3 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  text-align: center;
}

.sec3 > div > h4 {
  margin-top: 30px;
}

.sec3 > div > p {
  margin-top: 5vh;
}


/* ============================================================================================= */
/* SEÇÃO 4 */

.sec4 {
  width: 900px;
  display:flex;
  justify-content: space-between;
}

.sec4 > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: solid 1px red; */
}

.sec4 > div > p {
  font-size: 18px;
}

.sec4 img {
  width: 80%;
  margin: 20vh auto 5vh auto;
}

