
.contato {
padding-top: calc(60px + 5vh);
}

.contato > h4{
  text-align: center;  
}

.contato .card {
  display:flex;
  width: 800px;
  height: 350px;
  margin: 5vh auto 0 auto;
  box-shadow: 5px 5px 20px 0px #333;
}

.contato .card-L {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:40%;
  background: var(--azul);
}

.contato .card-L p {
  color:white;
  font-size: 16px;
}

.contato .card-L > div {
  display: flex;
  align-items: center;
  // border: solid red 3px;
  
}

.contato .card-L > div > img {
  width:50px;
  margin: 0 30px;
}

.contato .card-R {
  width:60%;
  background: #ccc;
}

.contato .card-R .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  
}

.contato .card-R form > input {
  width:85%;
  padding: 10px;
  border: solid 3px var(--azul);
  border-radius: 15px;;
}

.contato .card-R form > input:focus {
  outline: none;
}

.contato .card-R form > textarea {
  width:85%;
  height: 30%;
  padding: 10px;
  border: solid 3px var(--azul);
  border-radius: 15px;;
}

.contato .card-R form > button {
  padding: 10px 50px;
  border: 0;
  border-radius: 15px;
  margin: 0 7.5% 0 auto;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--azul);
  cursor: pointer;
}

.contato .card-R form > button:hover {
  background-color: var(--azulClaro);
}



.footer {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  font-style: italic;
  background-color: var(--azul);
}
